<footer class="footer">
  <div class="footer-inner">
    <p><a href="tel:">000-000-000</a></p>
    <p><a href="mailto:name@emailgoeshere.com">name@emailgoeshere.com</a></p>
  </div>
  <div class="footer-bottom">
    <img alt="Logo" src="{{asset 'logo_doh-black.png'}}"/>
    <img alt="Logo" src="{{asset 'dol_logo_mstr_clr.svg'}}"/>
    <img alt="Logo" src="{{asset 'WSAC-LOGO-01.png'}}"/>
    <img alt="Logo" src="{{asset 'agencylogo---horizontal.png'}}"/>
  </div>
</footer>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//www.envoydev.co/wsac/envoy-dev.js"></script>